# dependencies
node_modules
client/node_modules

# production build
build
client/build

# environment variables
.env

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# system files
.DS_Store
Thumbs.db
